{{#*inline "page"}}
    <div class=admin-list>
        {{#each site_customization}}
        <details>
            <summary class="admin-list-item details-dialog-summary-special">{{name}}</summary>
            <details-dialog>
                <form action="customization?U={{../session.uuid}}" method=POST>
                <input name=name value="{{name}}" type=hidden>
                <label>Value <textarea name=value autofocus>{{value}}</textarea></label>
                <div class=form-footer>
                    <button class=button-default>Save</button>
                    <a href="" onclick="return !window.DetailsDialogElement" class=button data-close-dialog>Cancel</a>
                </div>
                </form>
            </details-dialog>
        </details>
        {{/each}}
    </div>
    <details-menu-bar>
        <details class=details-dialog-outer>
            <summary class=details-dialog-summary>+ New variable</summary>
            <details-dialog>
                <form action="customization?U={{session.uuid}}" method=POST>
                <label>Name <input name=name required autofocus></label>
                <label>Value <textarea name=value></textarea></label>
                <div class=form-footer>
                    <button class=button-default>Save</button>
                    <a href="" onclick="return !window.DetailsDialogElement" class=button data-close-dialog>Cancel</a>
                </div>
                </form>
            </details-dialog>
        </details>
    </details-menu-bar>
{{/inline}}
{{~> admin/layout~}}
