{{#*inline "page"}}
{{#if keywords_param}}
<header class=tight-headline>
<h2>Search results</h2>
<code>{{keywords_param}}</code>
</header>
{{else}}
<h2>Blogs</h2>
{{/if}}
{{~> view-index~}}
{{~#if keywords_param}}
<p><a href=".?page={{next_search_page}}&q={{urlencode keywords_param}}{{#if title_param}}&title={{urlencode title_param}}{{/if}}{{#if tag_param}}&tag={{tag_param}}{{/if}}{{#if domain}}&domain={{domain}}{{/if}}">Next page</a></p>
{{~/if~}}
{{/inline}}
{{~> layout~}}
