{{#*inline "page"}}
    <ajax-form><form method="post">
        <article>
            <header class=article-header>
                {{#if posts.0.url}}
                    <a class=article-header-inner href="{{posts.0.url}}">{{posts.0.title}}</a>
                {{else}}
                    <a class=article-header-inner href={{posts.0.uuid}}>{{posts.0.title}}</a>
                {{/if}}
            </header>
            submitted by <a href="@{{posts.0.submitted_by_username}}">{{posts.0.submitted_by_username}}</a>
            <div class=top-header-aside>
                <button name=post value={{posts.0.uuid}} title="{{#if posts.0.starred_by_me}}Remove star{{else}}Add star{{/if}}" formaction="{{#if posts.0.starred_by_me}}-rm-star{{else}}-add-star{{/if}}?to={{posts.0.uuid}}">
                <span>{{posts.0.score}}</span>
                <img width=12 height=12 src=assets/{{#if posts.0.starred_by_me}}star_active.svg{{else}}star.svg{{/if}}>
                </button>
                <!-- flagging is not yet implemented -->
                <button name=post value={{posts.0.uuid}} formaction="-add-flag?to={{posts.0.uuid}}" title="Add flag">
                <img width=12 height=12 src=assets/flag.svg>
                </button>
            </div>
            {{#if starred_by}}
                starred by
                {{#each starred_by}}
                    <a href="@{{this}}">{{this}}</a>
                    {{#unless @last}},{{/unless}}
                {{/each}}
            {{/if}}
        </article>
    </form></ajax-form>
    <ajax-form><form method=post>
        {{#each comments}}
            <aside>
                {{{this.html}}}
                <footer>
                    posted by <a href="@{{this.created_by_username}}">{{this.created_by_username}}</a>
                    <div class=top-header-aside>
                        <button name=comment value={{this.id}} title="{{#if this.starred_by_me}}Remove star{{else}}Add star{{/if}}" formaction="{{#if this.starred_by_me}}-rm-star-comment{{else}}-add-star-comment{{/if}}?to={{posts.0.uuid}}">
                        <span>{{count this.starred_by}}</span>
                        <img width=12 height=12 src=assets/{{#if this.starred_by_me}}star_active.svg{{else}}star.svg{{/if}}>
                        </button>
                        <!-- flagging is not yet implemented -->
                        <button name=comment value={{this.id}} formaction="-add-flag-comment?to={{posts.0.uuid}}" title="Add flag">
                        <img width=12 height=12 src=assets/flag.svg>
                        </button>
                    </div>
                    {{#if this.starred_by}}
                        starred by
                        {{#each this.starred_by}}
                            <a href="@{{this}}">{{this}}</a>
                            {{#unless @last}},{{/unless}}
                        {{/each}}
                    {{/if}}
                </footer>
            </aside>
        {{/each}}
    </form></ajax-form>
    <form action="-comment" method=post>
        <textarea name=text></textarea>
        <input type=hidden name=post value="{{posts.0.uuid}}">
        <button>Submit</button>
    </form>
{{/inline}}
{{~> (parent)~}}
