{{#*inline "page"}}
    {{#if (not posts.0.visible)}}
    <div class=alert>This post is waiting for moderator attention.</div>
    {{/if}}
    {{#if (gte user.trust_level 3)}}
    <details-menu-bar>
            <details class=details-dialog-outer>
                <summary class=details-dialog-summary>Edit Banner</summary>
                <details-dialog>
                    <form action="banner-post?U={{session.uuid}}" method=POST>
                        <input type=hidden name=post value={{posts.0.uuid}}>
                        <label for=banner-post-title>Title</label>
                        <input type=text id=banner-post-title name=banner_title autofocus>
                        <label for=banner-post-desc>Description</label>
                        <input type=text id=banner-post-desc name=banner_desc>
                        <div class=form-footer>
                            <button class=button-default>Add banner</button>
                            <details-dialog-close><a href={{posts.0.uuid}} class=button>Cancel</a></details-dialog-close>
                        </div>
                    </form>
                </details-dialog>
            </details>
    </details-menu-bar>
    {{/if}}
    <ajax-form>
        {{#if posts.0.banner_title}}
            <p class=post-banner>{{{posts.0.banner_title}}}</p>
        {{/if}}
        {{#if posts.0.banner_desc}}
            <p class=post-banner-desc>{{{posts.0.banner_desc}}}</p>
        {{/if}}
        <article>
            <h2 class=article-header>{{#if posts.0.private}}<span class=article-header-inner>🔒 </span>{{/if}}{{{posts.0.title_html}}}</h2>
            {{#if posts.0.excerpt_html}}
                <main>{{{posts.0.excerpt_html}}}</main>
            {{/if}}
            <form action="vote?redirect={{posts.0.uuid}}&U={{session.uuid}}" method=POST>
            <footer class=footer-container>
            <div class=footer-main>
            <button{{#if user.id}} title="{{#if posts.0.starred_by_me}}Remove star{{else}}Add star{{/if}}"{{else}} disabled title="Log in to vote"{{/if}} name="{{#if posts.0.starred_by_me}}rm_star{{else}}add_star{{/if}}" value={{posts.0.uuid}}>
                <img width=12 height=12 class=good-img src=assets/{{#if posts.0.starred_by_me}}star_active.svg{{else}}star.svg{{/if}} alt="{{#if posts.0.starred_by_me}}Remove star{{else}}Add star{{/if}}">
            </button>
            <a href="@{{posts.0.submitted_by_username_urlencode}}">{{posts.0.submitted_by_username}}</a>
            submitted
            <a is=local-date href="" title="{{posts.0.created_at}}+00:00">{{posts.0.created_at_relative}} <span class=hide-small>ago</span></a>
            <details class=details-dialog-outer id=sp-{{posts.0.uuid}}>{{> view-star}}</details>
            </div>
            <details-menu-bar class=footer-aside>
                <a href="#comment-form" class="button hide-small" onclick="document.getElementById('comment-text').focus();return false">↩ Comment</a>
                <details class="details-menu-outer backwards">
                <summary class="details-menu-summary backwards" aria-haspopup=menu role=button>More</summary>
                <div class="details-menu-inner backwards" role=menu>
                    <a href="{{posts.0.uuid}}" class=details-menu-item>Permalink</a>
                {{#if (gte user.trust_level 3)}}
                    <a href="edit-post?post={{posts.0.uuid}}" class=details-menu-item>Edit</a>
                {{/if}}
                {{#if (gte user.trust_level 1)}}
                    <button class=details-menu-item name="{{#if posts.0.flagged_by_me}}rm_flag{{else}}add_flag{{/if}}" value={{posts.0.uuid}}>
                         {{#if posts.0.flagged_by_me}}Remove flag{{else}}Add flag{{/if}}
                    </button>
                {{/if}}
                {{#if user.id}}
                    <a href="+{{posts.0.uuid}}" class=details-menu-item>Similar</a>
                {{/if}}
                </div>
                </details>
            </details-menu-bar>
            </footer></form>
        </article>
        <h3{{#if (not posts.0.comment_readpoint)}} id=comments{{/if}}>{{posts.0.comment_count}} comments</h3>
        {{#each legacy_comments}}
            <aside id="{{this.id}}">
                <header class=aside-header>
                    old comment by {{this.author}}
                    <span class="top-header-link top-header-aside"><a class=top-header-link is=local-date href="#{{this.id}}" title="{{this.created_at}}+00:00">{{this.created_at_relative}} <span class=hide-small>ago</span> #{{this.id}}</a></span>
                </header>
                <main>{{{this.html}}}</main>
            </aside>
        {{/each}}
        {{#each comments}}
            {{#if this.hidden_by_me}}<aside id="{{this.id}}"><form action="vote-comment?redirect={{../posts.0.uuid}}&U={{../session.uuid}}" method=POST><button class=hide-button title=Show name=rm_hide_comment value={{this.id}}><b>+</b></button> {{this.created_by_username}}</form></aside>{{else}}<aside id="{{this.id}}">
                <header class=aside-header>
                    <img width=15 height=15 class=identicon src=identicon/{{this.created_by_identicon}}>
                    <a href="@{{this.created_by_username_urlencode}}" class=top-header-link>{{this.created_by_username}}</a>
                    <span class="top-header-link top-header-aside"><a class=top-header-link is=local-date href="#{{this.id}}" title="{{this.created_at}}+00:00">{{this.created_at_relative}} <span class=hide-small>ago</span> #{{this.id}}</a></span>
                </header>
                <main>{{{this.html}}}</main>
                <form action="vote-comment?redirect={{../posts.0.uuid}}&U={{../session.uuid}}" method=POST><button class=hide-button title=Show name=add_hide_comment value={{this.id}}><b>-</b></button>
                <footer class=footer-container>
                    <div class=footer-main>
                    <button{{#if ../user.id}} title="{{#if this.starred_by_me}}Remove star{{else}}Add star{{/if}}"{{else}} disabled title="Log in to vote"{{/if}} name="{{#if this.starred_by_me}}rm_star_comment{{else}}add_star_comment{{/if}}" value={{this.id}}>
                        <img width=12 height=12 class=good-img src=assets/{{#if this.starred_by_me}}star_active.svg{{else}}star.svg{{/if}} alt="{{#if this.starred_by_me}}Remove star{{else}}Add star{{/if}}">
                    </button>
                    <details class=details-dialog-outer id=sc-{{this.id}}>{{> view-star-comment}}</details>
                    </div>
                    <details-menu-bar class=footer-aside>
                        {{#if ../user.id}}<a href="reply-comment?comment={{this.id}}&post={{../posts.0.uuid}}" class=button>↩ Reply</a>{{/if}}
                        <details class="details-menu-outer backwards">
                        <summary class="details-menu-summary backwards" aria-haspopup=menu role=button>More</summary>
                        <div class="details-menu-inner backwards" role=menu>
                        <a href="#{{this.id}}" class=details-menu-item>Permalink</a>
                        {{#if (or (gte ../user.trust_level 3) (eq this.created_by ../user.id))}}
                        <a href="edit-comment?comment={{this.id}}" class=details-menu-item>Edit</a>
                        {{/if}}
                        {{#if (gte ../user.trust_level 1)}}
                        <button class=details-menu-item name="{{#if this.flagged_by_me}}rm_flag_comment{{else}}add_flag_comment{{/if}}" value={{this.id}}>
                            {{#if this.flagged_by_me}}Remove flag{{else}}Add flag{{/if}}
                        </button>
                        {{/if}}
                        </div>
                    </details>
                    </details-menu-bar>
                </footer>
                </form>
            </aside>{{/if}}
            {{#if (eq ../posts.0.comment_readpoint this.id)}}
                {{#if @last}}
                <div id=comments class=rp></div>
                {{else}}
                <div id=comments class=rp>‹new comments›</div>
                {{/if}}
            {{/if}}
        {{/each}}
    </ajax-form>
    {{#if user.id}}
    <h3>Add your comment</h3>
    {{#if comment_preview_html}}
    <div class=tab-bar>
        <button name=preview value=edit class=tab form=comment-form formaction="preview-comment?U={{session.uuid}}#comment-form" onclick="if(!this.form||!this.formAction){var f=document.forms['comment-form'];f.action=this.getAttribute('formaction');var inp=document.createElement('input');inp.name='preview';inp.value='edit';inp.type='hidden';f.appendChild(inp);f.submit();return false}">Edit</button><label name=preview for=comment-form class=active-tab>Preview</label>
    </div>
    <div class=tab-box>
    <form action="comment?U={{session.uuid}}" method=POST id=comment-form>
        <aside><header class=aside-header>{{user.username}}</header><main>{{{comment_preview_html}}}</main></aside>
        <input type=hidden name=text value="{{comment_preview_text}}">
        <input type=hidden name=post value="{{posts.0.uuid}}">
        <span style="float:left;margin-top:1em;position:relative;top:2px"><button>Add comment</button>&nbsp;</span>
    </form>
    <details-menu-bar class=form-footer>
        <details class=details-menu-outer>
            <summary class=details-menu-summary aria-haspopup=menu role=button>{{#if is_subscribed}}Subscribed{{else}}Not subscribed{{/if}}</summary>
            <form class=details-menu-inner role=menu action="subscriptions?redirect={{posts.0.uuid}}&U={{session.uuid}}" method=POST is=subscriptions-menu>
                <input type=hidden name=post value="{{posts.0.uuid}}">
                <button class=details-menu-item role=menuitem name=subscribed value=true>Subscribe</button>
                <button class=details-menu-item role=menuitem name=subscribed value=false>Unsubscribed</button>
            </form>
        </details>
    </details-menu-bar>
    <p>When you subscribe, you get a notification whenever someone comments on this post.</p>
    </div>
    {{else}}
    <div class=tab-bar>
        <label for=comment-form class=active-tab>Edit</label><button name=preview value=preview class=tab form=comment-form formaction="preview-comment?U={{session.uuid}}#comment-form" onclick="if(!this.form||!this.formAction){var f=document.forms['comment-form'];f.action=this.getAttribute('formaction');var inp=document.createElement('input');inp.name='preview';inp.value='preview';inp.type='hidden';f.appendChild(inp);f.submit();return false}">Preview</button>
    </div>
    <div class=tab-box>
    <form action="comment?U={{session.uuid}}" method=POST id=comment-form>
        <label>@{{user.username}}
        <smart-textarea><textarea id=comment-text name=text required is=smart-punct-textarea>{{comment_preview_text}}</textarea></smart-textarea>
        </label>
        <input type=hidden name=post value="{{posts.0.uuid}}">
        <span style="float:left;margin-top:1em;position:relative;top:2px"><button>Add comment</button>&nbsp;</span>
    </form>
    <subscriptions-menu><details-menu-bar class=form-footer>
        <details class=details-menu-outer>
            <summary class=details-menu-summary aria-haspopup=menu role=button>{{#if is_subscribed}}Subscribed{{else}}Not subscribed{{/if}}</summary>
            <form class=details-menu-inner role=menu action="subscriptions?redirect={{posts.0.uuid}}&U={{session.uuid}}" method=POST>
                <input type=hidden name=post value="{{posts.0.uuid}}">
                <button class=details-menu-item role=menuitem name=subscribed value=true>Subscribed</button>
                <button class=details-menu-item role=menuitem name=subscribed value=false>Not subscribed</button>
            </form>
        </details>
    </details-menu-bar></subscriptions-menu>
    <p>When you subscribe, you get a notification whenever someone comments on this post.</p>
    </div>
    <script>
window.setTimeout(function() {
    if (window.location.hash == "#comment-form") {
      document.getElementById('comment-text').focus();
    }
}, 200);
    </script>
    {{/if}}
    {{else}}
    <div class=inner-banner>
        {{{customization.comments_placeholder_html}}}
    </div>
    {{/if}}
{{/inline}}
{{~> layout~}}
