{{#*inline "page"}}
    <form action='' method=POST>
        <input type=hidden name=post value="{{posts.0.uuid}}">
        <label>Title and #hashtags <input name=title autofocus value="{{posts.0.title}}" required></label>
        <label>URL <input name=url value="{{posts.0.url}}"></label>
        <label>Excerpt
            <smart-textarea><textarea name=excerpt>{{posts.0.excerpt}}</textarea></smart-textarea>
        </label>
        <button>Submit</button>
    </form>
    {{#if (gte user.trust_level 3)}}
        <br><br>
        <form action=moderate-post method=POST>
            <input type=hidden name=post value="{{posts.0.uuid}}">
            <button name=action value=delete>Delete</button>
        </form>
    {{/if}}
{{/inline}}
{{~> (parent)~}}
