{{#*inline "nav-second"}}
{{~#if is_home~}}
    <nav class=nav-second>
        <a class=top-header-link href=".{{#if before_date_param}}?before_date={{before_date_param}}{{#if after_date_param}}&after_date={{after_date_param}}{{else}}{{/if}}{{else}}{{/if}}">Home</a> &bull;
        <a class=top-header-link href="latest{{#if before_date_param}}?before_date={{before_date_param}}{{#if after_date_param}}&after_date={{after_date_param}}{{else}}{{/if}}{{else}}{{/if}}">Latest</a> &bull;
        <b>Top</b> &bull;
        <a class=top-header-link href="new{{#if before_date_param}}?before_date={{before_date_param}}{{#if after_date_param}}&after_date={{after_date_param}}{{else}}{{/if}}{{else}}{{/if}}">New</a> &bull;
        <details class=details-dialog-outer>
            <summary class=inline-summary>
                {{#if before_date_param}}{{before_date_param}}{{else}}Date{{/if}}…
            </summary>
            <details-dialog>
                <form action=top method=GET>
                    <label>Find posts before
                        <input type=date name=before_date autofocus required {{#if before_date_param}}value="{{before_date_param}}"{{/if}}>
                    </label>
                    <label>Find posts after
                        <input type=date name=after_date {{#if after_date_param}}value="{{after_date_param}}"{{/if}}>
                    </label>
                    <div class=form-footer>
                        <button class=button-default>Search</button>
                        <a href="" onclick="return !window.DetailsDialogElement" class=button data-close-dialog>Cancel</a>
                    </div>
                </form>
            </details-dialog>
        </details>
    </nav>
{{~/if~}}
{{/inline}}
{{#*inline "page"}}
{{#each tags}}
<header class=tight-headline>
<h2>#{{this.name}}</h2>
<p>{{this.description}}</p>
<nav>
    <a href=".?tag={{this.name}}{{#if before_date_param}}&before_date={{before_date_param}}{{#if after_date_param}}&after_date={{after_date_param}}{{else}}{{/if}}{{else}}{{/if}}">Home</a> &bull;
    <a href="latest?tag={{this.name}}{{#if before_date_param}}&before_date={{before_date_param}}{{#if after_date_param}}&after_date={{after_date_param}}{{else}}{{/if}}{{else}}{{/if}}">Latest</a> &bull;
    <b>Top</b> &bull;
    <a href="new?tag={{this.name}}{{#if before_date_param}}&before_date={{before_date_param}}{{#if after_date_param}}&after_date={{after_date_param}}{{else}}{{/if}}{{else}}{{/if}}">New</a> &bull;
    <details class=details-dialog-outer>
        <summary class=inline-summary>
            {{#if ../before_date_param}}{{../before_date_param}}{{else}}Date{{/if}}…
        </summary>
        <details-dialog>
            <form action=top method=GET>
                <label>Find posts before
                    <input type=date name=before_date autofocus required {{#if ../before_date_param}}value="{{../before_date_param}}"{{/if}}>
                </label>
                <label>Find posts after
                    <input type=date name=after_date {{#if ../after_date_param}}value="{{../after_date_param}}"{{/if}}>
                </label>
                <input type=hidden name=tag value="{{this.name}}">
                <div class=form-footer>
                    <button class=button-default>Search</button>
                    <a href="" onclick="return !window.DetailsDialogElement" class=button data-close-dialog>Cancel</a>
                </div>
            </form>
        </details-dialog>
    </details>
</nav>
</header>
{{/each}}
{{#if domain}}
<header class=tight-headline>
<h2>www.{{domain}}</h2>
<nav>
    <a href=".?domain={{domain}}{{#if before_date_param}}&before_date={{before_date_param}}{{#if after_date_param}}&after_date={{after_date_param}}{{else}}{{/if}}{{else}}{{/if}}">Home</a> &bull;
    <a href="latest?domain={{domain}}{{#if before_date_param}}&before_date={{before_date_param}}{{#if after_date_param}}&after_date={{after_date_param}}{{else}}{{/if}}{{else}}{{/if}}">Latest</a> &bull;
    <b>Top</b> &bull;
    <a href="new?domain={{domain}}{{#if before_date_param}}&before_date={{before_date_param}}{{#if after_date_param}}&after_date={{after_date_param}}{{else}}{{/if}}{{else}}{{/if}}">New</a> &bull;
    <details class=details-dialog-outer>
        <summary class=inline-summary>
            {{#if before_date_param}}{{before_date_param}}{{else}}Date{{/if}}…
        </summary>
        <details-dialog>
            <form action=top method=GET>
                <label>Find posts before
                    <input type=date name=before_date autofocus required {{#if before_date_param}}value="{{before_date_param}}"{{/if}}>
                </label>
                <label>Find posts after
                    <input type=date name=after_date {{#if after_date_param}}value="{{after_date_param}}"{{/if}}>
                </label>
                <input type=hidden name=domain value="{{domain}}">
                <div class=form-footer>
                    <button class=button-default>Search</button>
                    <a href="" onclick="return !window.DetailsDialogElement" class=button data-close-dialog>Cancel</a>
                </div>
            </form>
        </details-dialog>
    </details>
</nav>
</header>
{{/if}}
{{#if keywords_param}}
<header class=tight-headline>
<h2>Search results</h2>
<code>{{keywords_param}}</code>
<nav>
    <a href=".?q={{keywords_param}}{{#if before_date_param}}&before_date={{before_date_param}}{{#if after_date_param}}&after_date={{after_date_param}}{{else}}{{/if}}{{else}}{{/if}}">Relevance</a> &bull;
    <a href="latest?q={{keywords_param}}{{#if before_date_param}}&before_date={{before_date_param}}{{#if after_date_param}}&after_date={{after_date_param}}{{else}}{{/if}}{{else}}{{/if}}">Latest</a> &bull;
    <b>Top</b> &bull;
    <a href="new?q={{keywords_param}}{{#if before_date_param}}&before_date={{before_date_param}}{{#if after_date_param}}&after_date={{after_date_param}}{{else}}{{/if}}{{else}}{{/if}}">New</a> &bull;
    <details class=details-dialog-outer>
        <summary class=inline-summary>
            {{#if before_date_param}}{{before_date_param}}{{else}}Date{{/if}}…
        </summary>
        <details-dialog>
            <form action=top method=GET>
                <label>Find posts before
                    <input type=date name=before_date autofocus required {{#if before_date_param}}value="{{before_date_param}}"{{/if}}>
                </label>
                <label>Find posts after
                    <input type=date name=after_date {{#if after_date_param}}value="{{after_date_param}}"{{/if}}>
                </label>
                <input type=hidden name=q value="{{keywords_param}}">
                <div class=form-footer>
                    <button class=button-default>Search</button>
                    <a href="" onclick="return !window.DetailsDialogElement" class=button data-close-dialog>Cancel</a>
                </div>
            </form>
        </details-dialog>
    </details>
</nav>
</header>
{{/if}}
<ajax-form>
{{~#each posts~}}
{{~#if this.banner_title}}<p class=post-banner>{{{this.banner_title}}}</p>{{#if this.banner_desc}}<p class=post-banner-desc>{{{this.banner_desc}}}</p>{{/if}}{{/if}}<article><details open><summary title="Hide post" class=module-summary>{{this.title}}</summary><h3 class=article-header>{{{this.title_html}}}</h3><main>{{{this.excerpt_html}}}</main><footer class=footer-container><div class=footer-main><a href="@{{this.submitted_by_username_urlencode}}">{{this.submitted_by_username}}</a> submitted <a href="{{this.uuid}}" is=local-date title="{{this.created_at}}+00:00">{{this.created_at_relative}}</a> and got <a href="{{this.uuid}}#comments">{{this.comment_count}} comments</a></div><form class=footer-aside><button disabled name="add_star"><span>{{this.score}}</span> <img width=12 height=12 class=good-img src=assets/star.svg alt="Stars"></button></form></footer></details></article>
{{~#if @last~}}
{{~#if ../keywords_param}}
<p><a href=".?after={{this.uuid}}&q={{../keywords_param}}{{#if ../tag_param}}&tag={{../tag_param}}{{/if}}{{#if ../domain}}&domain={{../domain}}{{/if}}">Next page</a></p>
{{~/if~}}
{{~/if~}}
{{~/each}}
</ajax-form>
{{/inline}}
{{~> layout~}}
