{{#*inline "page"}}
{{~#if tags}}
{{~else}}
<header class=tight-headline>
<h2>Latest comments</h2>
</header>
{{/if}}
{{#each tags}}
<header class=tight-headline>
<h2>#{{this.name}}</h2>
<p>{{this.description}}</p>
<nav><a href=.?tag={{this.name}}>Home</a> &bull; <b>Latest</b> &bull; <a href=top?tag={{this.name}}>Top</a> &bull; <a href=new?tag={{this.name}}>New</a></nav>
</header>
{{/each}}
<ajax-form>
{{#each posts}}
    {{~> view-post~}}
    {{~#if @last~}}
    <p><a href="?after={{this.uuid}}">Next page</a></p>
    {{~/if~}}
{{/each}}
</ajax-form>
{{/inline}}
{{~> (parent)~}}
