{{#*inline "page"}}
<form method="post">
{{#each posts}}
    <article>
        <header class=article-header>
            {{#if this.url}}
                <a class=article-header-inner href="{{this.url}}">{{this.title}}</a>
            {{else}}
                <a class=article-header-inner href={{this.uuid}}>{{this.title}}</a>
            {{/if}}
        </header>
        <button name=post value={{this.uuid}} formaction={{#if this.starred_by_me}}-rm-star{{else}}-add-star{{/if}}>
            <img width=12 height=12 src=-assets/{{#if this.starred_by_me}}star_active.svg{{else}}star.svg{{/if}}>
        </button>
        <!-- flagging is not yet implemented -->
        <button name=post value={{this.uuid}} formaction="-add-flag">
            <img width=12 height=12 src=-assets/flag.svg>
        </button>
        submitted by <a href="@{{this.submitted_by_username}}">{{this.submitted_by_username}}</a> |
        <a href={{this.uuid}}>0 comments</a>
    </article>
{{/each}}
</form>
{{/inline}}
{{~> (parent)~}}
