{{#*inline "nav-second"}}
{{~#if is_home~}}
    <nav class=nav-second><b>Home</b> &bull; <a class=top-header-link href=latest>Latest</a> &bull; <a class=top-header-link href=top>Top</a> &bull; <a class=top-header-link href=new>New</a></nav>
{{~/if~}}
{{/inline}}
{{#*inline "page"}}
{{#if is_home}}
    {{# if config.front_notice_html}}
        <div class=inner-banner>{{{config.front_notice_html}}}</div>
    {{/if}}
{{/if}}
{{#each tags}}
<header class=tight-headline>
<h2>#{{this.name}}</h2>
<p>{{this.description}}</p>
<nav><b>Home</b> &bull; <a href=latest?tag={{this.name}}>Latest</a> &bull; <a href=top?tag={{this.name}}>Top</a> &bull; <a href=new?tag={{this.name}}>New</a></nav>
</header>
{{/each}}
{{#if domain}}
<header class=tight-headline>
<h2>www.{{domain}}</h2>
<nav><b>Home</b> &bull; <a href=latest?domain={{domain}}>Latest</a> &bull; <a href=top?domain={{domain}}>Top</a> &bull; <a href=new?domain={{domain}}>New</a></nav>
</header>
{{/if}}
{{#if keywords_param}}
<header class=tight-headline>
<h2>Search results</h2>
<code>{{keywords_param}}</code>
<nav><b>Relevance</b> &bull; <a href="latest?q={{keywords_param}}">Latest</a> &bull; <a href="top?q={{keywords_param}}">Top</a> &bull; <a href="new?q={{keywords_param}}">New</a></nav>
</header>
{{/if}}
<ajax-form>
{{~#if user.id~}}
{{~#each posts~}}
{{~#if this.banner_title}}<p class=post-banner>{{{this.banner_title}}}</p>{{#if this.banner_desc}}<p class=post-banner-desc>{{{this.banner_desc}}}</p>{{/if}}{{/if}}<article><details open><summary title="Hide post" class=module-summary>Show post</summary><h3 class=article-header>{{{this.title_html}}}</h3><main>{{{this.excerpt_html}}}</main><footer class=footer-container><div class=footer-main>submitted by <a href="@{{this.submitted_by_username}}">{{this.submitted_by_username}}</a> <local-date title="{{this.created_at}}+00:00">{{this.created_at_relative}}</local-date> and got <a href="{{this.uuid}}#comments">{{this.comment_count}} comments</a></div><form class=footer-aside action="vote?redirect=2&U={{../session.uuid}}" method=POST>{{#if (gte ../user.trust_level 3)}}<a href="edit-post?post={{this.uuid}}" class=button>Edit</a> {{/if}}{{#if this.starred_by_me}}<button title="Remove star" name=rm_star value={{this.uuid}}><span>{{this.score}}</span> <img width=12 height=12 class=good-img src=assets/star_active.svg alt="Remove star"></button>{{else}}<button title="Add star" name=add_star value={{this.uuid}}><span>{{this.score}}</span> <img width=12 height=12 class=good-img src=assets/star.svg alt="Add star"></button>{{/if}}{{#if (gte ../user.trust_level 1)}}{{#if this.flagged_by_me}} <button class=flag-button-active title="Remove flag" name=rm_flag value={{this.uuid}}><img width=12 height=12 class=good-img src=assets/flag_active.svg alt="Remove flag"></button>{{else}} <button title="Add flag" name=add_flag value={{this.uuid}}><img width=12 height=12 class=good-img src=assets/flag.svg alt="Add flag"></button>{{/if}}{{/if}}</form></footer></details></article>
{{~#if @last~}}
{{~#if ../keywords_param}}
<p><a href=".?after={{this.uuid}}&q={{../keywords_param}}{{#if ../tag_param}}&tag={{../tag_param}}{{/if}}{{#if ../domain}}&domain={{../domain}}{{/if}}">Next page</a></p>
{{~/if~}}
{{~/if~}}
{{~/each~}}
{{~else~}}
{{~#each posts~}}
{{~#if this.banner_title}}<p class=post-banner>{{{this.banner_title}}}</p>{{#if this.banner_desc}}<p class=post-banner-desc>{{{this.banner_desc}}}</p>{{/if}}{{/if}}<article><details open><summary title="Hide post" class=module-summary>Show post</summary><h3 class=article-header>{{{this.title_html}}}</h3><main>{{{this.excerpt_html}}}</main><footer class=footer-container><div class=footer-main>submitted by <a href="@{{this.submitted_by_username}}">{{this.submitted_by_username}}</a> <local-date title="{{this.created_at}}+00:00">{{this.created_at_relative}}</local-date> and got <a href="{{this.uuid}}#comments">{{this.comment_count}} comments</a></div><form class=footer-aside><button disabled title="Log in to vote" name="add_star"><span>{{this.score}}</span> <img width=12 height=12 class=good-img src=assets/star.svg alt="Log in to vote"></button></form></footer></details></article>
{{~#if @last~}}
{{~#if ../keywords_param}}
<p><a href=".?after={{this.uuid}}&q={{../keywords_param}}{{#if ../tag_param}}&tag={{../tag_param}}{{/if}}{{#if ../domain}}&domain={{../domain}}{{/if}}">Next page</a></p>
{{~/if~}}
{{~/if~}}
{{~/each}}
{{~/if~}}
</ajax-form>
{{/inline}}
{{~> (parent)~}}
