{{#*inline "nav-second"}}
{{~#if is_home~}}
    <nav class=nav-second><a class=top-header-link href=.>Home</a> &bull; <a class=top-header-link href=latest>Latest</a> &bull; <b>Top</b> &bull; <a class=top-header-link href=new>New</a></nav>
{{~/if~}}
{{/inline}}
{{#*inline "page"}}
{{#each tags}}
<header class=tight-headline>
<h2>#{{this.name}}</h2>
<p>{{this.description}}</p>
<nav><a href=.?tag={{this.name}}>Home</a> &bull; <a href=latest?tag={{this.name}}>Latest</a> &bull; <b>Top</b> &bull; <a href=new?tag={{this.name}}>New</a></nav>
</header>
{{/each}}
{{#if domain}}
<header class=tight-headline>
<h2>www.{{domain}}</h2>
<nav><a href=.?domain={{domain}}>Home</a> &bull; <a href=latest?domain={{domain}}>Latest</a> &bull; <b>Top</b> &bull; <a href=new?domain={{domain}}>New</a></nav>
</header>
{{/if}}
{{#if keywords_param}}
<header class=tight-headline>
<h2>Search results</h2>
<code>{{keywords_param}}</code>
<nav><a href=".?q={{keywords_param}}">Relevance</a> &bull; <a href="latest?q={{keywords_param}}">Latest</a> &bull; <b>Top</b> &bull; <a href="new?q={{keywords_param}}">New</a></nav>
</header>
{{/if}}
<ajax-form>
{{~#each posts~}}
{{~#if this.banner_title}}<p class=post-banner>{{{this.banner_title}}}</p>{{#if this.banner_desc}}<p class=post-banner-desc>{{{this.banner_desc}}}</p>{{/if}}{{/if}}<article><details open><summary title="Hide post" class=module-summary>Show post</summary><h3 class=article-header>{{{this.title_html}}}</h3><main>{{{this.excerpt_html}}}</main><footer class=footer-container><div class=footer-main>submitted by <a href="@{{this.submitted_by_username}}">{{this.submitted_by_username}}</a> <local-date title="{{this.created_at}}+00:00">{{this.created_at_relative}}</local-date> and got <a href="{{this.uuid}}#comments">{{this.comment_count}} comments</a></div><form class=footer-aside><button disabled name="add_star"><span>{{this.score}}</span> <img width=12 height=12 class=good-img src=assets/star.svg alt="Stars"></button></form></footer></details></article>
{{~#if @last~}}
{{~#if ../keywords_param}}
<p><a href=".?after={{this.uuid}}&q={{../keywords_param}}{{#if ../tag_param}}&tag={{../tag_param}}{{/if}}{{#if ../domain}}&domain={{../domain}}{{/if}}">Next page</a></p>
{{~/if~}}
{{~/if~}}
{{~/each}}
</ajax-form>
{{/inline}}
{{~> layout~}}
