{{#*inline "page"}}
<ajax-form>
{{#each posts}}
    <article><form action="vote?redirect=2" method=POST>
        <header class=article-header>
            {{#if this.url}}
                <a class=article-header-inner href="{{this.url}}">{{this.title}}</a>
            {{else}}
                <a class=article-header-inner href={{this.uuid}}>{{this.title}}</a>
            {{/if}}
        </header>
        submitted by <a href="@{{this.submitted_by_username}}">{{this.submitted_by_username}}</a> |
        <a href={{this.uuid}}>{{this.comment_count}} comments</a>
        <div class=top-header-aside>
            <button name="{{#if this.starred_by_me}}rm_star{{else}}add_star{{/if}}" value={{this.uuid}} title="{{#if this.starred_by_me}}Remove star{{else}}Add star{{/if}}">
                <span>{{this.score}}</span>
                <img width=12 height=12 src=assets/{{#if this.starred_by_me}}star_active.svg{{else}}star.svg{{/if}} alt="{{#if this.starred_by_me}}Remove star{{else}}Add star{{/if}}">
            </button>
            <!-- flagging is not yet implemented -->
            <button name=add_flag value={{this.uuid}} title="Add flag">
                <img width=12 height=12 src=assets/flag.svg alt="Add flag">
            </button>
        </div>
    </form></article>
{{/each}}
</ajax-form>
{{/inline}}
{{~> (parent)~}}
