{{#*inline "page"}}
{{#each tags}}
<header class=tight-headline>
<h2>#{{this.name}}</h2>
<p>{{this.description}}</p>
<nav><b>Home</b> &bull; <a href=latest?tag={{this.name}}>Latest</a> &bull; <a href=top?tag={{this.name}}>Top</a> &bull; <a href=new?tag={{this.name}}>New</a></nav>
</header>
{{/each}}
<ajax-form>
{{~#each posts~}}
{{~> view-post~}}
{{~/each~}}
</ajax-form>
{{/inline}}
{{~> (parent)~}}
