{{#*inline "nav-second"}}
{{~#if is_home~}}
    <nav class=nav-second>
        <a class=top-header-link href=".{{#if before_date_param}}?before_date={{before_date_param}}{{#if after_date_param}}&after_date={{after_date_param}}{{else}}{{/if}}{{else}}{{/if}}">Home</a> &bull;
        <b>Latest</b> &bull;
        <a class=top-header-link href="top{{#if before_date_param}}?before_date={{before_date_param}}{{#if after_date_param}}&after_date={{after_date_param}}{{else}}{{/if}}{{else}}{{/if}}">Top</a> &bull;
        <a class=top-header-link href="new{{#if before_date_param}}?before_date={{before_date_param}}{{#if after_date_param}}&after_date={{after_date_param}}{{else}}{{/if}}{{else}}{{/if}}">New</a> &bull;
        <details class=details-dialog-outer>
            <summary class=inline-summary><u>
                {{#if before_date_param}}{{before_date_param}}{{else}}Date{{/if}}…
            </u></summary>
            <details-dialog>
                <form action=latest method=GET>
                    <label>Find posts before
                        <input type=date name=before_date autofocus required {{#if before_date_param}}value="{{before_date_param}}"{{/if}}>
                    </label>
                    <label>Find posts after
                        <input type=date name=after_date {{#if after_date_param}}value="{{after_date_param}}"{{/if}}>
                    </label>
                    <div class=form-footer>
                        <button class=button-default>Search</button>
                        <a href="" onclick="return !window.DetailsDialogElement" class=button data-close-dialog>Cancel</a>
                    </div>
                </form>
            </details-dialog>
        </details>
    </nav>
{{~/if~}}
{{/inline}}
{{#*inline "page"}}
{{#each tags}}
<header class=tight-headline>
<h2>#{{this.name}}</h2>
<p>{{this.description}}</p>
<nav>
    <a href=".?tag={{this.name}}{{#if before_date_param}}&before_date={{before_date_param}}{{#if after_date_param}}&after_date={{after_date_param}}{{else}}{{/if}}{{else}}{{/if}}">Home</a> &bull;
    <b>Latest</b> &bull;
    <a href="top?tag={{this.name}}{{#if before_date_param}}&before_date={{before_date_param}}{{#if after_date_param}}&after_date={{after_date_param}}{{else}}{{/if}}{{else}}{{/if}}">Top</a> &bull;
    <a href="new?tag={{this.name}}{{#if before_date_param}}&before_date={{before_date_param}}{{#if after_date_param}}&after_date={{after_date_param}}{{else}}{{/if}}{{else}}{{/if}}">New</a> &bull;
    <details class=details-dialog-outer>
        <summary class=inline-summary><u>
            {{#if ../before_date_param}}{{../before_date_param}}{{else}}Date{{/if}}…
        </u></summary>
        <details-dialog>
            <form action=latest method=GET>
                <label>Find posts before
                    <input type=date name=before_date autofocus required {{#if ../before_date_param}}value="{{../before_date_param}}"{{/if}}>
                </label>
                <label>Find posts after
                    <input type=date name=after_date {{#if ../after_date_param}}value="{{../after_date_param}}"{{/if}}>
                </label>
                <input type=hidden name=tag value="{{this.name}}">
                <div class=form-footer>
                    <button class=button-default>Search</button>
                    <a href="" onclick="return !window.DetailsDialogElement" class=button data-close-dialog>Cancel</a>
                </div>
            </form>
        </details-dialog>
    </details>
</nav>
</header>
{{/each}}
{{#if domain}}
<header class=tight-headline>
<h2>www.{{domain}}</h2>
<nav>
    <a href=".?domain={{domain}}{{#if before_date_param}}&before_date={{before_date_param}}{{#if after_date_param}}&after_date={{after_date_param}}{{else}}{{/if}}{{else}}{{/if}}">Home</a> &bull;
    <b>Latest</b> &bull;
    <a href="top?domain={{domain}}{{#if before_date_param}}&before_date={{before_date_param}}{{#if after_date_param}}&after_date={{after_date_param}}{{else}}{{/if}}{{else}}{{/if}}">Top</a> &bull;
    <a href="new?domain={{domain}}{{#if before_date_param}}&before_date={{before_date_param}}{{#if after_date_param}}&after_date={{after_date_param}}{{else}}{{/if}}{{else}}{{/if}}">New</a> &bull;
    <details class=details-dialog-outer>
        <summary class=inline-summary><u>
            {{#if before_date_param}}{{before_date_param}}{{else}}Date{{/if}}…
        </u></summary>
        <details-dialog>
            <form action=latest method=GET>
                <label>Find posts before
                    <input type=date name=before_date autofocus required {{#if before_date_param}}value="{{before_date_param}}"{{/if}}>
                </label>
                <label>Find posts after
                    <input type=date name=after_date {{#if after_date_param}}value="{{after_date_param}}"{{/if}}>
                </label>
                <input type=hidden name=domain value="{{domain}}">
                <div class=form-footer>
                    <button class=button-default>Search</button>
                    <a href="" onclick="return !window.DetailsDialogElement" class=button data-close-dialog>Cancel</a>
                </div>
            </form>
        </details-dialog>
    </details>
</nav>
</header>
{{/if}}
{{#if keywords_param}}
<header class=tight-headline>
<h2>Search results</h2>
<code>{{keywords_param}}</code>
<nav>
    <a href=".?q={{keywords_param}}{{#if before_date_param}}&before_date={{before_date_param}}{{#if after_date_param}}&after_date={{after_date_param}}{{else}}{{/if}}{{else}}{{/if}}">Relevance</a> &bull;
    <b>Latest</b> &bull;
    <a href="top?q={{keywords_param}}{{#if before_date_param}}&before_date={{before_date_param}}{{#if after_date_param}}&after_date={{after_date_param}}{{else}}{{/if}}{{else}}{{/if}}">Top</a> &bull;
    <a href="new?q={{keywords_param}}{{#if before_date_param}}&before_date={{before_date_param}}{{#if after_date_param}}&after_date={{after_date_param}}{{else}}{{/if}}{{else}}{{/if}}">New</a> &bull;
    <details class=details-dialog-outer>
        <summary class=inline-summary><u>
            {{#if before_date_param}}{{before_date_param}}{{else}}Date{{/if}}…
        </u></summary>
        <details-dialog>
            <form action=latest method=GET>
                <label>Find posts before
                    <input type=date name=before_date autofocus required {{#if before_date_param}}value="{{before_date_param}}"{{/if}}>
                </label>
                <label>Find posts after
                    <input type=date name=after_date {{#if after_date_param}}value="{{after_date_param}}"{{/if}}>
                </label>
                <input type=hidden name=q value="{{keywords_param}}">
                <div class=form-footer>
                    <button class=button-default>Search</button>
                    <a href="" onclick="return !window.DetailsDialogElement" class=button data-close-dialog>Cancel</a>
                </div>
            </form>
        </details-dialog>
    </details>
</nav>
</header>
{{/if}}
{{~> view-index~}}{{#if (last posts)~}}
<p><a href="latest?after={{last posts}}{{#if keywords_param}}&q={{keywords_param}}{{/if}}{{#if tag_param}}&tag={{tag_param}}{{/if}}{{#if domain}}&domain={{domain}}{{/if}}{{#if user_param}}&user={{user_param}}{{/if}}">Next page</a></p>
{{~/if~}}
{{/inline}}
{{~> layout~}}
