{{#*inline "page"}}
<ajax-form>
{{#each posts}}
    {{#if this.banner_title}}
        <p class=post-banner>{{{this.banner_title}}}</p>
    {{/if}}
    {{#if this.banner_desc}}
        <p class=post-banner-desc>{{{this.banner_desc}}}</p>
    {{/if}}
    <article><details open><summary title="Hide post" class=module-summary>Show post</summary>
        <header class=article-header>{{{this.title_html}}}</header>
        {{#if this.excerpt_html}}
            <main>{{{this.excerpt_html}}}</main>
        {{/if}}
        <footer>
        submitted by <a href="@{{this.submitted_by_username}}">{{this.submitted_by_username}}</a>
        {{date this.created_at}} and got
        <a href={{this.uuid}}>{{this.comment_count}} comments</a>
        <form class=module-aside action="vote?redirect=2" method=POST>
            {{#if (gte ../user.trust_level 3)}}
                <a href="edit-post?post={{this.uuid}}" class=button>Edit</a>
            {{/if}}
            <button{{#if ../user.id}} title="{{#if this.starred_by_me}}Remove star{{else}}Add star{{/if}}"{{else}} disabled title="Log in to vote"{{/if}} name="{{#if this.starred_by_me}}rm_star{{else}}add_star{{/if}}" value={{this.uuid}}>
                <span>{{this.score}}</span>
                <img width=12 height=12 class=good-img src=assets/{{#if this.starred_by_me}}star_active.svg{{else}}star.svg{{/if}} alt="{{#if this.starred_by_me}}Remove star{{else}}Add star{{/if}}">
            </button>
            {{#if (gte ../user.trust_level 1)}}
            <button class={{#if this.flagged_by_me}}flag-button-active{{else}}""{{/if}} name="{{#if this.flagged_by_me}}rm_flag{{else}}add_flag{{/if}}" value={{this.uuid}} title="{{#if this.flagged_by_me}}Remove flag{{else}}Add flag{{/if}}">
                <img width=12 height=12 class=good-img src=assets/{{#if this.flagged_by_me}}flag_active{{else}}flag{{/if}}.svg alt="{{#if this.flagged_by_me}}Remove flag{{else}}Add flag{{/if}}">
            </button>
            {{/if}}
        </form>
        </footer>
    </details></article>
{{/each}}
</ajax-form>
{{/inline}}
{{~> (parent)~}}
