{{#*inline "nav-second"}}
{{~#if is_home~}}
    <nav class=nav-second>
        <a class=top-header-link href=".{{#if before_date_param}}?before_date={{before_date_param}}{{#if after_date_param}}&after_date={{after_date_param}}{{else}}{{/if}}{{else}}{{/if}}">Home</a> &bull;
        <a class=top-header-link href="latest{{#if before_date_param}}?before_date={{before_date_param}}{{#if after_date_param}}&after_date={{after_date_param}}{{else}}{{/if}}{{else}}{{/if}}">Latest</a> &bull;
        <a class=top-header-link href="top{{#if before_date_param}}?before_date={{before_date_param}}{{#if after_date_param}}&after_date={{after_date_param}}{{else}}{{/if}}{{else}}{{/if}}">Top</a> &bull;
        <b>New</b> &bull;
        <details class=details-dialog-outer>
            <summary class=inline-summary>
                {{#if before_date_param}}{{before_date_param}}{{else}}Date{{/if}}…
            </summary>
            <details-dialog>
                <form action=new method=GET>
                    <label>Find posts before
                        <input type=date name=before_date autofocus required {{#if before_date_param}}value="{{before_date_param}}"{{/if}}>
                    </label>
                    <label>Find posts after
                        <input type=date name=after_date {{#if after_date_param}}value="{{after_date_param}}"{{/if}}>
                    </label>
                    <div class=form-footer>
                        <button class=button-default>Search</button>
                        <a href="" onclick="return !window.DetailsDialogElement" class=button data-close-dialog>Cancel</a>
                    </div>
                </form>
            </details-dialog>
        </details>
    </nav>
{{~/if~}}
{{/inline}}
{{#*inline "page"}}
{{#each tags}}
<header class=tight-headline>
<h2>#{{this.name}}</h2>
<p>{{this.description}}</p>
<nav>
    <a href=".?tag={{this.name}}{{#if before_date_param}}&before_date={{before_date_param}}{{#if after_date_param}}&after_date={{after_date_param}}{{else}}{{/if}}{{else}}{{/if}}">Home</a> &bull;
    <a href="latest?tag={{this.name}}{{#if before_date_param}}&before_date={{before_date_param}}{{#if after_date_param}}&after_date={{after_date_param}}{{else}}{{/if}}{{else}}{{/if}}">Latest</a> &bull;
    <a href="top?tag={{this.name}}{{#if before_date_param}}&before_date={{before_date_param}}{{#if after_date_param}}&after_date={{after_date_param}}{{else}}{{/if}}{{else}}{{/if}}">Top</a> &bull;
    <b>New</b> &bull;
    <details class=details-dialog-outer>
        <summary class=inline-summary>
            {{#if ../before_date_param}}{{../before_date_param}}{{else}}Date{{/if}}…
        </summary>
        <details-dialog>
            <form action=new method=GET>
                <label>Find posts before
                    <input type=date name=before_date autofocus required {{#if ../before_date_param}}value="{{../before_date_param}}"{{/if}}>
                </label>
                <label>Find posts after
                    <input type=date name=after_date {{#if ../after_date_param}}value="{{../after_date_param}}"{{/if}}>
                </label>
                <input type=hidden name=tag value="{{this.name}}">
                <div class=form-footer>
                    <button class=button-default>Search</button>
                    <a href="" onclick="return !window.DetailsDialogElement" class=button data-close-dialog>Cancel</a>
                </div>
            </form>
        </details-dialog>
    </details>
</nav>
</header>
{{/each}}
{{#if domain}}
<header class=tight-headline>
<h2>www.{{domain}}</h2>
<nav>
    <a href=".?domain={{domain}}{{#if before_date_param}}&before_date={{before_date_param}}{{#if after_date_param}}&after_date={{after_date_param}}{{else}}{{/if}}{{else}}{{/if}}">Home</a> &bull;
    <a href="latest?domain={{domain}}{{#if before_date_param}}&before_date={{before_date_param}}{{#if after_date_param}}&after_date={{after_date_param}}{{else}}{{/if}}{{else}}{{/if}}">Latest</a> &bull;
    <a href="top?domain={{this.domain}}{{#if before_date_param}}&before_date={{before_date_param}}{{#if after_date_param}}&after_date={{after_date_param}}{{else}}{{/if}}{{else}}{{/if}}">Top</a> &bull;
    <b>New</b> &bull;
    <details class=details-dialog-outer>
        <summary class=inline-summary>
            {{#if before_date_param}}{{before_date_param}}{{else}}Date{{/if}}…
        </summary>
        <details-dialog>
            <form action=new method=GET>
                <label>Find posts before
                    <input type=date name=before_date autofocus required {{#if before_date_param}}value="{{before_date_param}}"{{/if}}>
                </label>
                <label>Find posts after
                    <input type=date name=after_date {{#if after_date_param}}value="{{after_date_param}}"{{/if}}>
                </label>
                <input type=hidden name=domain value="{{domain}}">
                <div class=form-footer>
                    <button class=button-default>Search</button>
                    <a href="" onclick="return !window.DetailsDialogElement" class=button data-close-dialog>Cancel</a>
                </div>
            </form>
        </details-dialog>
    </details>
</nav>
</header>
{{/if}}
{{#if keywords_param}}
<header class=tight-headline>
<h2>Search results</h2>
<code>{{keywords_param}}</code>
<nav>
    <a href=".?q={{keywords_param}}{{#if before_date_param}}&before_date={{before_date_param}}{{#if after_date_param}}&after_date={{after_date_param}}{{else}}{{/if}}{{else}}{{/if}}">Relevance</a> &bull;
    <a href="latest?q={{keywords_param}}{{#if before_date_param}}&before_date={{before_date_param}}{{#if after_date_param}}&after_date={{after_date_param}}{{else}}{{/if}}{{else}}{{/if}}">Latest</a> &bull;
    <a href="top?q={{keywords_param}}{{#if before_date_param}}&before_date={{before_date_param}}{{#if after_date_param}}&after_date={{after_date_param}}{{else}}{{/if}}{{else}}{{/if}}">Top</a> &bull;
    <b>New</b> &bull;
    <details class=details-dialog-outer>
        <summary class=inline-summary>
            {{#if before_date_param}}{{before_date_param}}{{else}}Date{{/if}}…
        </summary>
        <details-dialog>
            <form action=new method=GET>
                <label>Find posts before
                    <input type=date name=before_date autofocus required {{#if before_date_param}}value="{{before_date_param}}"{{/if}}>
                </label>
                <label>Find posts after
                    <input type=date name=after_date {{#if after_date_param}}value="{{after_date_param}}"{{/if}}>
                </label>
                <input type=hidden name=q value="{{keywords_param}}">
                <div class=form-footer>
                    <button class=button-default>Search</button>
                    <a href="" onclick="return !window.DetailsDialogElement" class=button data-close-dialog>Cancel</a>
                </div>
            </form>
        </details-dialog>
    </details>
</nav>
</header>
{{/if}}
<ajax-form>
{{~#if user.id~}}
{{~#each posts~}}
{{#if this.banner_title}}
    <p class=post-banner>{{{this.banner_title}}}</p>
{{/if}}
{{#if this.banner_desc}}
    <p class=post-banner-desc>{{{this.banner_desc}}}</p>
{{/if}}
<article>
    <h2 class=article-header>{{{this.title_html}}}</h2>
    {{#if this.excerpt_html}}
        <main>{{{this.excerpt_html}}}</main>
    {{/if}}
    <form action="vote?redirect=2&U={{../session.uuid}}" method=POST>
    <footer class=footer-container>
    <div class=footer-main>
    {{#if this.starred_by_me}}
    <button title="Remove star" name="rm_star" value={{this.uuid}}>
        <img width=12 height=12 class=good-img src=assets/star_active.svg alt="Remove star">
    </button>
    {{else}}
    <button title="Add star" name="add_star" value={{this.uuid}}>
        <img width=12 height=12 class=good-img src=assets/star.svg alt="Add star">
    </button>
    {{/if}}
    <a href="@{{this.submitted_by_username_urlencode}}">{{this.submitted_by_username}}</a>
    submitted
    <a is=local-date href="{{this.uuid}}" title="{{this.created_at}}+00:00">{{this.created_at_relative}}</a>
    <details class=details-dialog-outer id=sp-{{this.uuid}}>{{> view-star}}</details>
    </div>
    <details-menu-bar class=footer-aside>
        <a href="{{this.uuid}}#comment-form" class=button>↩ Comment</a>
        <details class="details-menu-outer backwards">
        <summary class="details-menu-summary backwards" aria-haspopup=menu>More</summary>
        <div class="details-menu-inner backwards" role=menu>
            <a href="{{this.uuid}}" class=details-menu-item>Permalink</a>
        {{#if (gte ../user.trust_level 3)}}
            <a href="edit-post?post={{this.uuid}}" class=details-menu-item>Edit</a>
        {{/if}}
        {{#if (gte ../user.trust_level 1)}}
            <button class=details-menu-item name="{{#if this.flagged_by_me}}rm_flag{{else}}add_flag{{/if}}" value={{this.uuid}}>
                {{#if this.flagged_by_me}}Remove flag{{else}}Add flag{{/if}}
            </button>
        {{/if}}
        </div>
        </details>
    </details-menu-bar>
    </footer></form>
</article>
{{~#if @last~}}
<p><a href="new?after={{this.uuid}}{{#if ../keywords_param}}&q={{../keywords_param}}{{/if}}{{#if ../tag_param}}&tag={{../tag_param}}{{/if}}{{#if ../domain}}&domain={{../domain}}{{/if}}{{#if ../user_param}}&user={{../user_param}}{{/if}}">Next page</a></p>
{{~/if~}}
{{~/each~}}
{{~else~}}
{{~#each posts~}}
{{#if this.banner_title}}
    <p class=post-banner>{{{this.banner_title}}}</p>
{{/if}}
{{#if this.banner_desc}}
    <p class=post-banner-desc>{{{this.banner_desc}}}</p>
{{/if}}
<article>
    <h2 class=article-header>{{{this.title_html}}}</h2>
    {{#if this.excerpt_html}}
        <main>{{{this.excerpt_html}}}</main>
    {{/if}}
    <footer class=footer-container>
    <div class=footer-main>
    <button disabled title="Log in to add star" name="rm_star" value={{this.uuid}}>
        <img width=12 height=12 class=good-img src=assets/star.svg alt="Log in to add star">
    </button>
    <a href="@{{this.submitted_by_username_urlencode}}">{{this.submitted_by_username}}</a>
    submitted
    <a is=local-date href="{{this.uuid}}" title="{{this.created_at}}+00:00">{{this.created_at_relative}}</a>
    <details class=details-dialog-outer id=sp-{{this.uuid}}>{{> view-star}}</details>
    </div>
    <details-menu-bar class=footer-aside>
        <details class="details-menu-outer backwards">
        <summary class="details-menu-summary backwards" aria-haspopup=menu>More</summary>
        <div class="details-menu-inner backwards" role=menu>
            <a href="{{this.uuid}}" class=details-menu-item>Permalink</a>
        </div>
        </details>
    </details-menu-bar>
    </footer>
</article>
{{~#if @last~}}
<p><a href="new?after={{this.uuid}}{{#if ../keywords_param}}&q={{../keywords_param}}{{/if}}{{#if ../tag_param}}&tag={{../tag_param}}{{/if}}{{#if ../domain}}&domain={{../domain}}{{/if}}{{#if ../user_param}}&user={{../user_param}}{{/if}}">Next page</a></p>
{{~/if~}}
{{~/each}}
{{~/if~}}
</ajax-form>
{{/inline}}
{{~> layout~}}
