<!DOCTYPE html>
<meta name=viewport content="width=device-width">
<link rel=stylesheet href=-assets/style.css>
<title>{{title}}</title>
<header class=top-header>
    <nav>
        <a class=top-header-link href="/">Home</a>
        <details-menu-bar class=top-header-aside role=menubar>
            {{#if username}}
                <details class="details-menu-outer" role=menuitem>
                    <summary class="details-menu-summary" aria-haspopup=menu>+</summary>
                    <form class="details-menu-inner" role=menu>
                        <a class=details-menu-item href="-submit" role=menuitem>Create Post</a>
                    </form>
                </details>
                <details class="details-menu-outer" role=menuitem>
                    <summary class="details-menu-summary" aria-haspopup=menu>{{username}}</summary>
                    <form class="details-menu-inner" role=menu>
                        <a class=details-menu-item href="-settings" role=menuitem>Settings</a>
                        <a class=details-menu-item href="@{{username}}" role=menuitem>Your profile</a>
                        <button class=details-menu-item formaction=-logout formmethod=post role=menuitem>Sign Out</button>
                    </form>
                </details>
            {{else}}
                <a class=button href="-login" role=menuitem>LOG IN</a>
            {{/if}}
        </details-menu-bar>
    </nav>
</header>
<main class=main-outer><section class=main>
    {{#if alert}}
        <aside class=alert>{{alert}}</aside>
    {{/if}}
{{~> page}}
</section></main>
<footer class=top-header>
    <nav>
        <a href="@" class=top-header-link>User Invite Tree</a>
    </nav>
</footer>
<script>
    var s = document.createElement("script");
    if (window.HTMLDetailsElement && window.customElements) {
        s.src = "-assets/dist/modern.min.js";
    } else {
        s.src = "-assets/dist/legacy.min.js";
    }
    s.defer = true;
    s.async = true;
    document.body.appendChild(s);
</script>
