<!DOCTYPE html>
<html class="{{#if user.dark_mode}}dark{{/if}} {{#if user.big_mode}}big{{/if}}">
<meta name=viewport content="width=device-width">
<link rel=stylesheet href="assets/style.css?11">
<style>{{{config.custom_css}}}</style>
<title>{{title}}</title>
<header class=top-header>
    <nav>
        <a class=top-header-link href="/">{{{config.site_title_html}}}</a>
        <details-menu-bar class=top-header-aside role=menubar>
            {{~> view-search-box ~}}
            {{#if user.username}}
                <details class="details-menu-outer backwards" role=menuitem>
                    <summary class="details-menu-summary backwards" aria-haspopup=menu>+</summary>
                    <form class="details-menu-inner backwards" role=menu>
                        {{#if (not config.hide_link_post)}}
                        <a class=details-menu-item href="submit" role=menuitem>Submit a link</a>
                        {{/if}}
                        {{#if (not config.hide_text_post)}}
                        <a class=details-menu-item href="post" role=menuitem>Make a blog post</a>
                        {{/if}}
                        {{#if (gte user.trust_level 3)}}
                        <a class=details-menu-item href="edit-tags" role=menuitem>Edit tags</a>
                        {{/if}}
                    </form>
                </details>
                <details class="details-menu-outer backwards" role=menuitem>
                    <summary class="details-menu-summary backwards" aria-haspopup=menu>{{user.username}}</summary>
                    <form class="details-menu-inner backwards" role=menu action=logout method=POST>
                        {{#if (gte user.trust_level 3)}}
                            <a class=details-menu-item href="mod-queue">Mod queue</a>
                        {{/if}}
                        <a class=details-menu-item href=settings role=menuitem>Settings</a>
                        <a class=details-menu-item href="@{{user.username}}" role=menuitem>Your profile</a>
                        <button class=details-menu-item role=menuitem>Sign out</button>
                    </form>
                </details>
            {{else}}
                <a class=button href=login role=menuitem>Sign in</a>
                {{#if config.enable_public_signup}}
                    <a class=button href=signup role=menuitem>Register</a>
                {{/if}}
                {{#if config.enable_anonymous_submissions}}
                    <a class=button href=submit role=menuitem>Submit a link</a>
                {{/if}}
            {{/if}}
        </details-menu-bar>
        {{# if config.custom_header_html}}
            {{#if (eq title "home")}}
            <div class=page-wrapper>
                {{{config.custom_header_html}}}
            </div>
            {{/if}}
        {{/if}}
    </nav>
</header>
<div class=page-wrapper-outer><div class=page-wrapper>
    {{#if alert}}
        <div class=alert role=alert>{{alert}}</div>
    {{/if}}
{{~> page}}
</div></div>
<footer class=top-header>
    <nav>
        {{# if config.enable_user_directory}}<a href="@" class=top-header-link>All users</a>{{/if}}
        <a href=tags class=top-header-link>All tags</a>
        <a href=mod-log class=top-header-link>Moderation log</a>
        <a href=random class=top-header-link>Random</a>
        <a href=assets/how-to.html class=top-header-link>Documentation</a>
    </nav>
    {{# if config.custom_footer_html}}
        <div class=page-wrapper>
            {{{config.custom_footer_html}}}
        </div>
    {{/if}}
</footer>
<script>
    const a = async () => {};
    let b = a;
    window.moreInterestingIsAsyncAvailable = b;
</script>
<script>
    var s = document.createElement("script");
    if (window.HTMLDetailsElement && window.URLSearchParams && window.customElements && window.moreInterestingIsAsyncAvailable && window.fetch) {
        s.src = "assets/dist/modern.min.js?11";
    } else {
        s.src = "assets/dist/legacy.min.js?11";
    }
    s.defer = true;
    s.async = true;
    document.body.appendChild(s);
</script>
