{{#*inline "page"}}
        <article>
            <header class=article-header>{{{posts.0.title_html}}}</header>
            {{#if posts.0.excerpt_html}}
                <main>{{{posts.0.excerpt_html}}}</main>
            {{/if}}
            <footer class=footer-container>
                <div class=footer-main>
                <a href="@{{posts.0.submitted_by_username}}">@{{posts.0.submitted_by_username}}</a> submitted
                <a is=local-date href="{{posts.0.uuid}}" title="{{posts.0.created_at}}+00:00">{{posts.0.created_at_relative}}</local-date>
                {{#if starred_by}}
                    starred by
                    {{#each starred_by}}
                        <a href="@{{this}}">{{this}}</a>
                        {{#unless @last}},{{/unless}}
                    {{/each}}
                {{/if}} and got
                <a href="{{posts.0.uuid}}#comments">{{posts.0.comment_count}} comments</a>
                </div>
                <form class=footer-aside action="moderate-post?U={{session.uuid}}" method=POST>
                    <input type="hidden" name="post" value="{{posts.0.uuid}}">
                        <button name="action" value="approve" class=button-default>Approve</button>
                        <a href="edit-post?post={{posts.0.uuid}}" class=button>Edit</a>
                        <button name="action" value="delete">Delete</button>
                </form>
            </footer>
        </article>
        {{#each comments}}
            <aside id="{{this.id}}"><details open><summary title="Hide comment" class=module-summary>{{this.created_by_username}} commented</summary>
                <header class=aside-header>
                    <a href="@{{this.created_by_username}}" class=top-header-link>{{this.created_by_username}} commented</a>
                    <a is=local-date href="#{{this.id}}" class="top-header-link footer-aside" title="{{this.created_at}}+00:00">{{this.created_at_relative}} #{{this.id}}</a>
                </header>
                <main>{{{this.html}}}</main>
                <footer class=footer-container>
                    <div class=footer-main>
                    {{#if this.starred_by}}
                        starred by
                        {{#each this.starred_by}}
                            <a href="@{{this}}">{{this}}</a>
                            {{#unless @last}},{{/unless}}
                        {{/each}}
                    {{/if}}
                    </div>
                    </form>
                </footer>
            </details></aside>
        {{/each}}
{{/inline}}
{{~> layout~}}
