{{#*inline "page"}}

{{#each posts}}
    {{#if this.banner_title}}
        <p class=post-banner>{{{this.banner_title}}}</p>
    {{/if}}
    {{#if this.banner_desc}}
        <p class=post-banner-desc>{{{this.banner_desc}}}</p>
    {{/if}}
    <article><details><summary title="Hide post" class=module-summary>{{this.title}}</summary>
        <header class=article-header>{{{this.title_html}}}</header>
        {{#if this.excerpt_html}}
            <main>{{{this.excerpt_html}}}</main>
        {{/if}}
        <footer>
        <a href="@{{this.submitted_by_username}}">{{this.submitted_by_username}}</a> submitted
        <a is=local-date href={{this.uuid}} title="{{this.created_at}}+00:00">{{this.created_at_relative}}</local-date> and got
        <a href="{{this.uuid}}#comments">{{this.comment_count}} comments</a>
        </footer>
    </details></article>
{{/each}}
        <aside id="{{this.id}}">
            <header class=aside-header>
                <a href="@{{comments.0.created_by_username}}" class=top-header-link>{{comments.0.created_by_username}} commented</a>
                <a is=local-date href="#{{this.id}}" class="top-header-link footer-aside" title="{{comments.0.created_at}}+00:00">{{comments.0.created_at_relative}} #{{comments.0.id}}</a>
            </header>
            <main>{{{comments.0.html}}}</main>
            <footer class=footer-container>
                <div class=footer-main>
                {{#if comments.0.starred_by}}
                    starred by
                    {{#each comments.0.starred_by}}
                        <a href="@{{this}}">{{this}}</a>
                        {{#unless @last}},{{/unless}}
                    {{/each}}
                {{/if}}
                </div>
                <form class=footer-aside action="moderate-comment?U={{session.uuid}}" method=POST>
                    <input type="hidden" name="comment" value="{{comments.0.id}}">
                        <button name="action" value="approve" class=button-default>Approve</button>
                        <a href="edit-comment?comment={{comments.0.id}}" class=button>Edit</a>
                        <button name="action" value="delete">Delete</button>
                </form>
            </footer>
        </aside>
{{/inline}}
{{~> layout~}}
