{{#*inline "page"}}
<header class=tight-headline>
<h2>@{{title}}</h2>
<nav><a href=@{{title}}>Posts</a> &bull; <b>Comments</b></nav>
</header>
{{#each comment_search_result}}
    <h3><a href={{this.post_uuid}}>{{this.post_title}}</a></h3>
    <aside>
        <main>{{{this.html}}}</main>
        <footer>
            posted by {{this.created_by_username}}
            <local-date title="{{this.created_at}}+00:00">{{this.created_at_relative}}</local-date>
        </footer>
    </aside>
    {{#if @last}}
    <p><a href="?user={{../title}}&after={{this.id}}">Next page</a></p>
    {{/if}}
{{/each}}
{{/inline}}
{{~> (parent)~}}
