<?xml version="1.0" encoding="UTF-8" ?>
<rss version="2.0">
    <channel>
        <title>{{config.site_title_html}}</title>
        <link>{{config.public_url}}</link>
        <lastBuildDate>{{posts.0.updated_at}}</lastBuildDate>
        <pubDate>{{posts.0.updated_at}}</pubDate>
        <ttl>1800</ttl>

        {{#each posts}}
            <item>
                <title>{{this.title}}</title>
                <description>{{this.excerpt_html}}</description>
                <link>{{../config.public_url}}/{{this.uuid}}</link>
                <guid isPermaLink="true">{{../config.public_url}}/{{this.uuid}}</guid>
                <pubDate>{{posts.0.created_at}}</pubDate>
            </item>
        {{/each}}

    </channel>
</rss>