<rss version="2.0">
    <channel>
        <title>{{customization.title}}</title>
        <link>{{config.public_url}}</link>
        <lastBuildDate>{{posts.0.created_at}}</lastBuildDate>
        <pubDate>{{posts.0.created_at}}</pubDate>
        <ttl>1800</ttl>

        {{#each posts}}
            <item>
                <title>{{this.title}}</title>
                <description>{{this.excerpt_html}}</description>
                <link>{{../config.public_url}}{{#if (gt this.id 151694)}}/{{else}}/{{/if}}{{this.uuid}}</link>
                <guid isPermaLink="true">{{../config.public_url}}{{#if (gt this.id 151694)}}{{else}}/{{/if}}{{this.uuid}}</guid>
                <pubDate>{{this.created_at}}</pubDate>
            </item>
        {{/each}}

    </channel>
</rss>
