{{#*inline "page"}}
<header class=tight-headline>
<h2>@{{user.username}}</h2>
<nav><a href=@{{user.username}}>Posts</a> &bull; <a href=comments?user={{user.username}}>Comments</a> &bull; <b>Subscriptions</b></nav>
</header>
<ajax-form>
{{#each posts~}}
{{~#if this.banner_title}}<p class=post-banner>{{{this.banner_title}}}</p>{{#if this.banner_desc}}<p class=post-banner-desc>{{{this.banner_desc}}}</p>{{/if}}{{/if}}<article><details open><summary title="Hide post" class=module-summary>{{this.title}}</summary><h3 class=article-header>{{{this.title_html}}}</h3><main>{{{this.excerpt_html}}}</main><footer class=footer-container><div class=footer-main><a href="@{{this.submitted_by_username}}">{{this.submitted_by_username}}</a> submitted <a href="{{this.uuid}}" is=local-date title="{{this.created_at}}+00:00">{{this.created_at_relative}}</a> and got <a href="{{this.uuid}}#comments">{{this.comment_count}} comments</a></div><form class=footer-aside action="vote?redirect=2&U={{../session.uuid}}" method=POST>{{#if (gte ../user.trust_level 3)}}<a href="edit-post?post={{this.uuid}}" class=button>Edit</a> {{/if}}{{#if this.starred_by_me}}<button title="Remove star" name=rm_star value={{this.uuid}}><span>{{this.score}}</span> <img width=12 height=12 class=good-img src=assets/star_active.svg alt="Remove star"></button>{{else}}<button title="Add star" name=add_star value={{this.uuid}}><span>{{this.score}}</span> <img width=12 height=12 class=good-img src=assets/star.svg alt="Add star"></button>{{/if}}{{#if (gte ../user.trust_level 1)}}{{#if this.flagged_by_me}} <button class=flag-button-active title="Remove flag" name=rm_flag value={{this.uuid}}><img width=12 height=12 class=good-img src=assets/flag_active.svg alt="Remove flag"></button>{{else}} <button title="Add flag" name=add_flag value={{this.uuid}}><img width=12 height=12 class=good-img src=assets/flag.svg alt="Add flag"></button>{{/if}}{{/if}}</form></footer></details></article>
{{/each}}
</ajax-form>
{{/inline}}
{{~> layout~}}
